body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}


body {
    min-width: 1200px;
    background-color: white;
}

@font-face {
    font-family: Brush_Script;
    src: url(../fonts/Brush_Script.ttf);
}

@font-face {
    font-family: Proxima_Nova_Semibold;
    src: url(../fonts/Proxima_Nova_Semibold.otf);
}

@font-face {
    font-family: ProximaNova-Bold;
    src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
    font-family: ProximaNova-Reg;
    src: url(../fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: SkolarPE-Bold;
    src: url(../fonts/SkolarPE-Bold.otf);
}

#header-width-height-proportion {
    height: 0;
    padding-bottom: 61%; /* 16:9 */
    position: relative;
}

#header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.5%;
    background-image: url("../images/header-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#header-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68%;
    background-image: url("../images/header-bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

#header-center {
    position: absolute;
    top: 53%;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: url("../images/Altay.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 100;
}

    nav td {
        color: white;
        text-align: center;
        font-family: ProximaNova-Reg;
        font-size: 11pt;
    }

.menu_item {
    width: 1%;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
}

    nav a:link {
        color: white;
    }

    nav a:hover {
        color: white;
        border-bottom: 1px solid #d2ab2d;
        padding-bottom: 5px;
    }

    nav a:visited {
        color: white;
    }

#main-menu-table {
    position: relative;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

#header-foter {
    position: absolute;
    bottom: 146px;
    left: 7%;
    z-index: 100;
}

    #header-foter p {
        color: white;
        font-size: 20pt;
        font-family: ProximaNova-Reg;
    }

#header-buttons {
    position: absolute;
    bottom: 100px;
    left: 7%;
    z-index: 100;
}


    #header-buttons button {
        width: 188px;
        height: 46px;
        padding-top: 2px;
        margin-right: 30px;
        color: white;
        font-size: 8pt;
        letter-spacing: 0.5pt;
        font-family: Proxima_Nova_Semibold;
        border-radius: 5px;
        border-width: 2px;
        transition: all 1s;
        border-style: solid;
    }

#header-left-button {
    background-color: transparent;
    border-color: #ffd800;
}

    #header-left-button:hover {
        background-color: #ffd800;
        color: black;
    }

#header-right-button {
    background-color: #f6b200;
    border-color: #f6b200;
}

    #header-right-button:hover {
        color: black;
    }

#about-tour {
    width: 1170px;
    padding-bottom: 50%;
    margin: 0 auto;
    color: black;
    position: relative;
    align-content: center;
}

    #about-tour p {
        font-size: 12pt;
        line-height:1.7;
        font-family: ProximaNova-Reg;
    }

    #about-tour h1 {
        font-family: SkolarPE-Bold;
        font-size: 30pt;
    }

#about-tour-column1 {
    position: relative;
    float: left;
    width: 550px;
}


#about-tour-column1-top {
    position: relative;
    width: 100%;
    top: 0;
}

#about-tour-column1-bottom {
    position: relative;
    width: 100%;
    bottom: 0;
}

    #about-tour-column1-bottom h1 {
        color: #ffca3e;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 20px;
        font-family: ProximaNova-Reg;
        font-weight:bold;
    }

    #about-tour-column1-bottom p {
        margin-top: 0;
        padding-top: 0;
        margin-right: 20px;
    }


#about-tour-column2 {
    position: relative;
    float: right;
    width: 580px;
    height: 500px;
    margin-top: 32px;
}

    #about-tour-column2 h1 {
        font-size: 20pt;
        margin-bottom: 5px;
    }

    #about-tour-column2 p {
        margin-top: 0;
    }

#about-tour-column2-top-left {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 150px;
}

#about-tour-column2-bottom-left {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

#about-tour-column2-bottom-right {
    position: absolute;
    bottom: 110px;
    right: 55px;
    width: 150px;
}

#about-tour-column2-top-right {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}
